/* Custom Scrollbar hiding */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-out;
}

.animate-slide-up {
  animation: slideUp 0.8s ease-out cubic-bezier(0.16, 1, 0.3, 1);
}

/* Navbar Scroll Effect */
.nav-scrolled {
  background-color: #141414;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

/* Custom Fonts */
.font-bebas {
  font-family: "Bebas Neue", sans-serif;
}

body {
  font-family: "Martel Sans", sans-serif;
  background-color: #141414;
}
